<div align="center">
    <a routerLink="../../pages/license"><button class="btn btn-info btn-just-icon btn-round">
<i class="material-icons">keyboard_backspace</i>
</button></a>
<div class="wrapper wrapper-full-page" style="top: 50px;">
    <h4><b>Selecciona un plan</b></h4>
        <div class="col-md-2 col-md-offset-3">
    <div class="card card-pricing card-raised">
        <div class="card-content">
            <h6 class="category">B&aacute;sico</h6>
            <div class="icon">
                <i class="material-icons" style="color: #1EB7DE">home</i>
            </div>
            <h3 class="card-title">$15</h3>
            <p class="card-description">
                
            </p>
            <a href="../../pages/provider" class="btn btn-info btn-round">Elegir</a>
        </div>
    </div>
</div>

<div class="col-md-2">
    <div class="card card-pricing card-raised">
        <div class="card-content">
            <h6 class="category">Avanzado</h6>
            <div class="icon icon-rose">
                <i class="material-icons" style="color: #1EB7DE">store_mall_directory</i>
            </div>
            <h3 class="card-title">$30</h3>
            <p class="card-description">
                
            </p>
            <a href="#pablo" class="btn btn-info btn-round">Elegir</a>
        </div>
    </div>
</div>

<div class="col-md-2">
    <div class="card card-pricing card-raised">
        <div class="card-content">
            <h6 class="category">Profesional</h6>
            <div class="icon">
                <i class="material-icons" style="color: #1EB7DE;">work</i>
            </div>
            <h3 class="card-title">$45</h3>
            <p class="card-description">
                
            </p>
            <a href="#pablo" class="btn btn-info btn-round">Elegir</a>
        </div>
    </div>
</div>

        <div class="full-page-background" style="background-image: url(../../../assets/img/wide.jpg) "></div>
</div>
</div>
