.circular_shadow { width: 120px; height: 120px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url('../../../assets/img/k.png') no-repeat; box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); }
.circular_shadow2 { width: 120px; height: 120px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url('../../../assets/img/kin.png') no-repeat; box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); }
.circular_shadow3 { width: 120px; height: 120px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url('../../../assets/img/p.png') no-repeat; box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); }
