<div class="wrapper wrapper-full-page" >
   <div align="center">
    <a routerLink="../../pages/plan"><button class="btn btn-info btn-just-icon btn-round">
<i class="material-icons">keyboard_backspace</i>
</button></a>
<h4><b>Selecciona un proveedor</b></h4>
</div> 
   
 <div class="col-md-6 col-md-offset-3" style="top: 30px;">
    <div class="card">
        <div class="card-header">
        </div><br><br><br><br>
        <div class="card-content">
            <table border="0" width="100%">
            <thead></thead>
        <tbody>
            <tr align="center">
            <a data-toggle="modal" data-target="#provider" style="color: black;"><td><div class="circular_shadow"></div><h4><b>KODISPHARMA</b></h4><p style="color: silver">Descripcion</p></td></a>
             <td><div class="circular_shadow2"></div><h4><b>KIN</b></h4><p style="color: silver;">Descripcion</p></td>
            <td><div class="circular_shadow3"></div><h4><b>PROVEEDOR</b></h4><p style="color: silver;">Descripcion</p></td>
        </tr>
        </tbody>
        </table>
        </div>
    </div>
</div>


<div id="provider" class="modal fade" role="dialog" style="top: -80px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-image: url(../../../assets/img/cons2.jpeg); background-size: 100%; background-repeat: no-repeat; filter: brightness(0.5); "><h3 style="color: white; text-align: center; text-shadow: 0 0 0.2em #8F7"></h3><br><br><br><br><br><br><br><br>
      </div>
      <div class="modal-body" style="top: -70px;">
        <div align="center" style="bottom: -400px;">
        <div class="circular_shadow"></div>
        <br>
        <div class="checkbox">
    <label>
        <input type="checkbox" name="optionsCheckboxes">Acepto los <p style="color: #1EB7DE;">T&Eacute;RMINOS Y CONDICIONES</p>
    </label>
</div>
<button class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#provider2">ENVIAR</button>
    </div>
      </div>
      
    </div>

  </div>
</div>


<div id="provider2" class="modal fade" role="dialog" style="top: -80px;">
  <div class="modal-dialog">
    <div class="alert alert-info alert-dismissable">
 <i class="material-icons" style="color: white;">email</i>&nbsp;&nbsp;&nbsp;<strong>Te hemos enviado un email!</strong>- Licencia referida por Kodispharma.
</div>

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header" style="background-image: url(../../../assets/img/fireworks.jpg); background-size: 100%; background-repeat: no-repeat; filter: brightness(0.5); "><h3 style="color: white; text-align: center; text-shadow: 0 0 0.2em #8F7"></h3><br><br><br><br><br><br><br><br>
      </div>
      <div class="modal-body">
        <div align="center">
            <i class="material-icons" style="color: #1EB7DE; font-size: 48px;">done</i>
       <h3>Felicitaciones!</h3>
       <p style="color: silver;">Has obtenido correctamente tu licencia.</p>
<button class="btn btn-info" data-dismiss="modal">ACEPTAR</button>
    </div>
      </div>
      
    </div>

  </div>
</div>

       
        <div class="full-page-background" style="background-image: url(../../../assets/img/wide.jpg) "></div>
    </div>
7