<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="modulos">
            <ul class="modulos-list">
              <li *ngFor="let modulo of modulos">
                  <img class="img-responsive" [src]="modulo.icon" alt="">
                  <h1 class="text-center">{{ modulo.name }}</h1>
                  <p class="text-center">{{ modulo.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>