.modulos li img{
    max-width: 30%;
    display: block;
    margin: 0 auto;
}

.modulos-list {
    margin: 20px;
    padding-left: 0;
    list-style: none;
}

.modulos li {
    float: left;
    width: 80%;
    height: 170px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #fffdfd;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 6px;
    margin: 20px;
    
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    
  }

.modulos li h1{
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .modulos {
      margin-right: 0;
      margin-left: 0;
    }
    .modulos li {
      width: 20%;
      font-size: 12px;
    }
  }