<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="co-xs-12 col-sm-12 col-md-12 col-lg-10">
				<div class="card">
					<div class="card-header card-header-tabs" data-background-color="blue">
						<div class="nav-tabs-navigation">
							<div class="nav-tabs-wrapper">
								<!-- <span class="nav-tabs-title"></span> -->
								<ul class="nav nav-tabs" data-tabs="tabs">
									<li class="active">
										<a href="#permanentes" data-toggle="tab">
											<i class="material-icons">gps_fixed</i>
											Permanentes
											<div class="ripple-container"></div>
										</a>
									</li>
									<li class="">
										<a href="#temporales" data-toggle="tab">
											<i class="material-icons">gps_off</i>
											Temporales
											<div class="ripple-container"></div>
										</a>
									</li>
									<li class="">
										<a href="#Indicadores" data-toggle="tab">
											<i class="material-icons">control_point</i>
											Indicadores
											<div class="ripple-container"></div>
										</a>
									</li>
									<li class="pull-right">
										<a>
											<i class="material-icons">add_circle</i>
											<div class="ripple-container"></div>
										</a>
										<a class="hidden">
											<i class="material-icons">arrow_upward</i>
											<div class="ripple-container"></div>
										</a>
										<a class="hidden">
											<i class="material-icons">edit</i>
											<div class="ripple-container"></div>
										</a>
									</li>
									<li class="hidden pull-right">
										<a>
											<i class="material-icons">save</i>
											<div class="ripple-container"></div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card-content">
						<div class="tab-content">
							<div class="tab-pane active" id="permanentes">
								<app-odontograma-boca [tipo]="'permanentes'"></app-odontograma-boca>
							</div>
							<div class="tab-pane" id="temporales">
								<app-odontograma-boca [tipo]="'temporales'"></app-odontograma-boca>
							</div>
							<div class="tab-pane" id="Indicadores">
								<app-odontograma-boca [tipo]="'indicadores'"></app-odontograma-boca>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
				<div class="well historial">
					<div class="titulo">
						<h3>Historial</h3>
						<hr/>
					</div>
					<div class="container-fluid">
						<div class="row historial-items">
							<div class="item col-xs-6 col-sm-4 col-md-4 col-lg-12">
								<img class="img-responsive img-rounded" src="http://via.placeholder.com/150x100" alt="Prueba">
								<div class="historial-text">
									<span class="text-primary">Fecha:</span> 18-01-2018</div>
								<div class="historial-text">
									<span class="text-primary">Hora:</span> 8:00am</div>
								<div class="historial-text">
									<span class="text-primary">Responsable:</span> Dr. Adolfo xD</div>
							</div>
							<div class="item col-xs-6 col-sm-4 col-md-4 col-lg-12">
								<img class="img-responsive img-rounded" src="http://via.placeholder.com/150x100" alt="Prueba">
								<div class="historial-text">
									<span class="text-primary">Fecha:</span> 18-01-2018</div>
								<div class="historial-text">
									<span class="text-primary">Hora:</span> 8:00am</div>
								<div class="historial-text">
									<span class="text-primary">Responsable:</span> Dr. Adolfo xD</div>
							</div>
							<div class="item col-xs-6 col-sm-4 col-md-4 col-lg-12">
								<img class="img-responsive img-rounded" src="http://via.placeholder.com/150x100" alt="Prueba">
								<div class="historial-text">
									<span class="text-primary">Fecha:</span> 18-01-2018</div>
								<div class="historial-text">
									<span class="text-primary">Hora:</span> 8:00am</div>
								<div class="historial-text">
									<span class="text-primary">Responsable:</span> Dr. Adolfo xD</div>
							</div>
							<div class="item col-xs-6 col-sm-4 col-md-4 col-lg-12">
								<img class="img-responsive img-rounded" src="http://via.placeholder.com/150x100" alt="Prueba">
								<div class="historial-text">
									<span class="text-primary">Fecha:</span> 18-01-2018</div>
								<div class="historial-text">
									<span class="text-primary">Hora:</span> 8:00am</div>
								<div class="historial-text">
									<span class="text-primary">Responsable:</span> Dr. Adolfo xD</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>