@media (max-width: 960px) {
	.historial {
		height: 50vh;
	}
}

@media (min-width: 961px) {
	.historial {
		height: 80vh;
	}
}

.historial {
	position: relative;
	overflow: hidden;
}

.historial .historial-items .item .historial-text {
	font-size: 0.8em;
}