@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}
.sebm-google-map-container {
  height: 300px;
}
#map {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 70px;
}

.places-buttons .btn {
  margin-bottom: 30px;
}

.space-70 {
  height: 70px;
  display: block;
}

.tim-row {
  margin-bottom: 20px;
}

.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.tim-typo .tim-note {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.tim-row {
  padding-top: 50px;
}
.tim-row h3 {
  margin-top: 0;
}
@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}

mat-form-field.mat-form-field {
  font-size: 0.5rem;
}

.mat-select-trigger,
.mat-option {
  font-size: 12px;
  height: 1.6rem;
}

.mat-form-field-type-mat-select .mat-form-field-flex .mat-select-disabled {
  cursor: default;
}

.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  opacity: 0;
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #02c0be;
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  border-color: #02c0be;
  background-color: #fff;
}

.mat-dialog-container {
  overflow: visible !important;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  color: #fff;
  background-color: #02c0be;
}

.mat-form-field-underline.mat-disabled {
  background: none;
}
