<div class="wrapper wrapper-full-page">
  
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                       <div>
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="blue">
                                    <h2><b>ORALSYS</b></h2>
                                    <h4 class="card-title">Inicia sesi&oacute;n</h4>
                                    <div class="social-line">
                                      <div align="center">
                                     <google-signin
  [clientId]="myClientId"
  [width]="240"
  [theme]="dark"
  [scope]="profile"
  [longTitle]="true"
  (googleSignInSuccess)="onGoogleSignInSuccess($event)">
</google-signin>
</div>
            
                                        <!--<a href="#eugen" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google"></i>
                                        </a>-->
                                    </div>
                                </div>
                                <p class="category text-center">
                                    O
                                </p>
                                <div class="card-content">
                                   <a href=""><p class="category text-center" [style.color] = "color" ><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REGISTRATE</b></p></a>
                                  
                                </div>
                                <div class="footer text-center">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="full-page-background" style="background-image: url(../../../assets/img/consultorio.jpeg);"></div>
    </div>
</div>
