<div class="logo">
    <div class="logo-normal">
        <a href="https://www.creative-tim.com" class="simple-text">
            Salud-Oral
        </a>
    </div>

    <div class="logo-img">
        <img src="./assets/img/angular2-logo-white.png" />
    </div>
</div>


<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="./assets/img/faces/avatar.jpg" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    Tania Andrew
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="isMobileMenu()">
        <ul class="nav nav-mobile-menu">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p class="hidden-lg hidden-md">
                        Notifications
                        <b class="caret"></b>
                    </p>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Mike John responded to your email</a>
                    </li>
                    <li>
                        <a href="#">You have 5 new tasks</a>
                    </li>
                    <li>
                        <a href="#">You're now friend with Andrew</a>
                    </li>
                    <li>
                        <a href="#">Another Notification</a>
                    </li>
                    <li>
                        <a href="#">Another One</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#pablo" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="hidden-lg hidden-md">Profile</p>
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
                <!--If is a single link-->
                <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                    <i class="material-icons">{{menuitem.icontype}}</i>
                    <p>{{menuitem.title}}</p>
                </a>
                <!--If it have a submenu-->
                <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()">
                    <i class="material-icons">{{menuitem.icontype}}</i>
                    <p>{{menuitem.title}}
                        <b class="caret"></b>
                    </p>
                </a>

                <!--Display the submenu items-->
                <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                            <a [routerLink]="[menuitem.path, childitem.path]">
                                <span class="sidebar-mini">{{childitem.ab}}</span>
                                <span class="sidebar-normal">{{childitem.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav">
            <li *ngIf="dashboard">
                Prueba Dashboard
            </li>
            <li *ngIf="odontograma">
                Prueba Odontograma
            </li>
        </ul>
    </div>

</div>
