
<button (click) = "signOut()" class="btn btn-info">Cerrar Sesion</button>

<div align="center">
    <a routerLink="../../pages/login"><button class="btn btn-info btn-just-icon btn-round">
<i class="material-icons">keyboard_backspace</i>
</button></a>
</div>
<div class="wrapper wrapper-full-page"><br><br><br><br><br><br><br>
    <div class="col-md-6 col-md-offset-3" style="bottom: 100px;">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <i class="material-icons">vpn_key</i>
        </div>
        <div class="card-content">
            <h4 class="card-title"><b>Autorizaci&oacute;n de Entrada</b></h4>
            <div align="center">
            <div class="col2">
          <p>Ingresa tu licencia vigente<br><form> <input type="text" class="form-control" placeholder="Codigo Alfanumerico (requerido)" required ><button type="submit" class="btn btn-info">ENVIAR</button></form></p>
        
          <p><i class="material-icons" style="font-size: 48px; color: #1EB7DE;">help_outline</i><br><br>¿No tienes una licencia? <br><br><a routerLink="../plan"><b [style.color] = "color">OBTENER</b></a></p>
      </div>
      </div>
        </div>
    </div>
</div>

    
       
       
        <div class="full-page-background" style="background-image: url(../../../assets/img/wide.jpg) "></div>
 
</div>