<div mat-dialog-title>
    <h2>{{data.udNum}}</h2>
    <h3>Menú general de la pieza</h3>
    <div class="pull-right">
        <button mat-mini-fab (click)="onNoClick()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-mini-fab (click)="onNoClick()">
            <mat-icon>&#xE5CD;</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 border">
                <div>
                    <h3>Encía</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-5 col-sm-6 subtitle-modal-ud">
                                Absceso
                            </div>
                            <mat-slide-toggle color="primary" class="col-xs-6 pull-right">
                            </mat-slide-toggle>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Recesión
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupRecesion="matButtonToggleGroup">
                                    <mat-button-toggle value="1">
                                        1
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2">
                                        2
                                    </mat-button-toggle>
                                    <mat-button-toggle value="3">
                                        3
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('recesion')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Movilidad
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupMovilidad="matButtonToggleGroup">
                                    <mat-button-toggle value="1">
                                        1
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2">
                                        2
                                    </mat-button-toggle>
                                    <mat-button-toggle value="3">
                                        3
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('movilidad')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Raíz</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Implante
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupImplante="matButtonToggleGroup">
                                    <mat-button-toggle value="1" class="red">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2" class="blue">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('implante')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 subtitle-modal-ud">
                                Fractura
                            </div>
                            <mat-slide-toggle color="primary" class="col-xs-6 pull-right">
                            </mat-slide-toggle>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Endodoncia
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupEndodoncia="matButtonToggleGroup">
                                    <mat-button-toggle value="1" class="red">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2" class="blue">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('endodoncia')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 subtitle-modal-ud">
                                Impactado
                            </div>
                            <mat-slide-toggle color="primary" class="col-xs-6 pull-right">
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <h3>Corona</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Corona
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupCorona="matButtonToggleGroup">
                                    <mat-button-toggle value="1" class="red">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2" class="blue">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('corona')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 subtitle-modal-ud">
                                Fractura
                            </div>
                            <mat-slide-toggle color="primary" class="col-xs-6 pull-right">
                            </mat-slide-toggle>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Sellante
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupSellante="matButtonToggleGroup">
                                    <mat-button-toggle value="1" class="red">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2" class="blue">
                                        <span style="opacity: 0">0</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('sellante')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Diastema
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupDiastema="matButtonToggleGroup">
                                    <mat-button-toggle value="1">
                                        Izq.
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2">
                                        Der.
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('diastema')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-md-4 subtitle-modal-ud">
                                Supernumerario
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <mat-button-toggle-group class="pull-right" #groupSupernumerario="matButtonToggleGroup">
                                    <mat-button-toggle value="1">
                                        Izq.
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2">
                                        Der.
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <button class="col-xs-1 green" mat-icon-button color="primary" (click)="resetGroup('supernumerario')">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 subtitle-modal-ud">
                                Microdiente
                            </div>
                            <mat-slide-toggle color="primary" class="col-xs-6 pull-right">
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Nota</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-form-field style="width: 100%;">
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-xs-12">
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button class="pull-right" mat-fab color="primary" [matMenuTriggerFor]="rxMenu">Rx</button>
                <mat-menu #rxMenu="matMenu" xPosition="before" yPosition="above">
                    <button mat-menu-item>
                        <span>Tomar foto</span>
                    </button>
                    <button mat-menu-item>
                        <span>Seleccionar imagen</span>
                    </button>
                </mat-menu>
            </div>

            <div class="col-xs-6">
                <button class="pull-left" mat-fab color="primary" [matMenuTriggerFor]="imgMenu">
                    <mat-icon>photo_camera</mat-icon>
                </button>
                <mat-menu #imgMenu="matMenu" xPosition="after" yPosition="above">
                    <button mat-menu-item>
                        <span>Tomar foto</span>
                    </button>
                    <button mat-menu-item>
                        <span>Seleccionar imagen</span>
                    </button>
                </mat-menu>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Aplicar a más piezas
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="flex-checks">
                            <div *ngFor="let itemCS of data.itemS">
                                <mat-checkbox [checked]="itemCS.name === data.udNum ? true : false "></mat-checkbox>
                                <div>{{itemCS.name}}</div>
                            </div>
                        </div>
                        <div class="flex-checks">
                            <div *ngFor="let itemCI of data.itemI">
                                <div>{{itemCI.name}}</div>
                                <mat-checkbox [checked]="itemCI.name === data.udNum ? true : false "></mat-checkbox>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>