.mat-dialog-title h2 {
  padding: 0.1em 0.2em 0.1em 0.2em;
  float: left;
  background-color: #01c2bf;
  color: #fff;
  font-weight: 700;
  border-radius: 5%;
  margin-top: -5%;
  overflow: auto;
  z-index: 999;
  box-shadow: 3px 3px 20px #001;
}
.mat-dialog-title h3 {
  width: 60%;
  float: left;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: -2%;
  margin-left: 1em;
}
.mat-dialog-content {
  clear: both;
}

.mat-dialog-content .container-fluid .row div > * {
  margin-bottom: 0.5em;
}

.mat-dialog-content .container-fluid .row div div h3 {
  font-weight: 300;
}

.mat-button-toggle-group {
  border-radius: 5%;
}

.red {
  background-color: #f95554;
}

.blue {
  background-color: #3fa9f5;
}

.red.mat-button-toggle-checked {
  background-color: #bc4040;
}

.blue.mat-button-toggle-checked {
  background-color: #2f80b8;
}

.subtitle-modal-ud {
  font-size: 1.15em;
  font-weight: 300;
}

.flex-checks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-checks > * {
  flex: 1 auto;
}

.green {
  color: #02c0be;
}

.border {
  border-right: 0.5px solid rgba(0, 0, 0, 0.7);
}

@media (max-width: 960px) {
  .border {
    border-right: none;
  }

  .mat-dialog-title h2 {
    font-size: 1.5em;
    margin-top: -10%;
  }

  .mat-dialog-title h3 {
    font-size: 1em;
  }

  .mat-dialog-title div.pull-right {
    margin-top: -5%;
  }
}

:not([class*='mat-elevation-z']).mat-expansion-panel {
  box-shadow: none;
}

textarea.mat-input-element {
  font-size: 1rem;
}

.mat-dialog-content {
  overflow: hidden;
  position: relative;
}

.mat-dialog-content::-webkit-scrollbar {
  position: absolute;
}
