<div class="canvas-boca">
	<div class="boca">
		<div class="superior">
			<div class="og_addiz1 hidden"></div>
			<div class="og_addiz2 hidden"></div>
			<div id="{{i}}_{{tipo}}_s_box" data-pos="S" attr.data-ud="{{i}}" class="og_p" *ngFor="let item of itemsS; let i=index">
				<div class="iconos">
					<div class="container-icon">
						<div>Rx</div>
						<div>
							<mat-icon>photo_camera</mat-icon>
						</div>
						<div>T</div>
					</div>
				</div>
				<div class="pieza_m">
					<div class="ud">
						<img id="{{i}}_{{tipo}}_s_ud" src="{{ item.src }}" alt="">
					</div>
					<div #crS id="{{i}}_{{tipo}}_s" class="box_ud" data-state="0" (click)="setPosUD($event)">
						<div class="center_move" (click)="setPosUD($event, true, 1)">
							<div class="circle" (click)="setPosUD($event, true, 2)"></div>
							<div class="circle" (click)="setPosUD($event, true, 2)"></div>
							<div class="circle" (click)="setPosUD($event, true, 2)"></div>
						</div>
						<mat-form-field>
							<mat-select name="cond" ngClass="simple" [(ngModel)]="selectedValue[0][i]" [disabled]='selectState[0][i].value'>
								<mat-option>
									Ninguno
								</mat-option>
								<mat-option *ngFor="let cond of conds" [value]="cond.value">
									{{ cond.viewValue }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div id="{{i}}_{{tipo}}_s_l" class="pieza_l">
					<div class="pieza_l_s">
						<div id="slider_{{ i }}_{{tipo}}_SS" class="swipe-container" data-deep="0" attr.data-index="{{i}}">
							<div class="swipe-slide S_s_{{ tipo }}_{{ item.name }}"></div>
							<div class="swipe-slide S_s_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_roja.png">
							</div>
							<div class="swipe-slide S_s_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_azul.png">
							</div>

							<!-- Next and previous buttons -->
							<a class="prev-slide" (click)="plusSlides(-1, 'S_s_' + tipo + '_' + item.name, 0, i)">&#10094;</a>
							<a class="next-slide" (click)="plusSlides(1, 'S_s_' + tipo + '_' + item.name, 0, i)">&#10095;</a>
						</div>
					</div>
					<div class="pieza_l_i">
						<div id="slider_{{ i }}_{{tipo}}_SI" class="swipe-container" data-deep="1" attr.data-ix="{{i}}">
							<div class="swipe-slide S_i_{{ tipo }}_{{ item.name }}"></div>
							<div class="swipe-slide S_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_roja.png">
							</div>
							<div class="swipe-slide S_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_azul.png">
							</div>
							<div class="swipe-slide S_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/corona_roja.png">
							</div>
							<div class="swipe-slide S_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/corona_azul.png">
							</div>

							<!-- Next and previous buttons -->
							<a class="prev-slide" (click)="plusSlides(-1, 'S_i_' + tipo + '_' + item.name, 1, i)">&#10094;</a>
							<a class="next-slide" (click)="plusSlides(1, 'S_i_' + tipo + '_' + item.name, 1, i)">&#10095;</a>
						</div>
					</div>
				</div>
				<div class="og_cruz">
					<div data-state="0" class="up" (click)="setState($event)"></div>
					<div data-state="0" class="left" (click)="setState($event)"></div>
					<div data-state="0" class="center" (click)="setState($event)"></div>
					<div data-state="0" class="right" (click)="setState($event)"></div>
					<div data-state="0" class="down" (click)="setState($event)"></div>
				</div>
				<div class="og_name">
					<h3 class="text-center" (click)="openDialog($event, item.name)">{{ item.name }}</h3>
				</div>
			</div>
			<div class="og_addde1 hidden"></div>
			<div class="og_addde2 hidden"></div>
		</div>

		<div class="inferior">
			<div class="og_addiz1 hidden"></div>
			<div class="og_addiz2 hidden"></div>
			<div id="{{i}}_{{tipo}}_i_box" data-pos="I" class="og_p" attr.data-ud="{{i}}" *ngFor="let item of itemsI; let i=index">
				<div class="og_name">
					<h3 class="text-center" (click)="openDialog($event, item.name)">{{ item.name }}</h3>
				</div>
				<div class="og_cruz">
					<div data-state="0" class="up" (click)="setState($event)"></div>
					<div data-state="0" class="left" (click)="setState($event)"></div>
					<div data-state="0" class="center" (click)="setState($event)"></div>
					<div data-state="0" class="right" (click)="setState($event)"></div>
					<div data-state="0" class="down" (click)="setState($event)"></div>
				</div>
				<div class="pieza_m">
					<div #crS id="{{i}}_{{tipo}}_i" class="box_ud" data-state="0" (click)="setPosUD($event)">
						<mat-form-field>
							<mat-select name="cond" ngClass="simple" [(ngModel)]="selectedValue[1][i]" [disabled]='selectState[1][i].value'>
								<mat-option>
									Ninguno
								</mat-option>
								<mat-option *ngFor="let cond of conds" [value]="cond.value">
									{{ cond.viewValue }}
								</mat-option>
							</mat-select>
						</mat-form-field>

						<div class="center_move" (click)="setPosUD($event, true, 1)">
							<div class="circle" (click)="setPosUD($event, true, 2)"></div>
							<div class="circle" (click)="setPosUD($event, true, 2)"></div>
							<div class="circle" (click)="setPosUD($event, true, 2)"></div>
						</div>
					</div>

					<div class="ud">
						<img id="{{i}}_{{tipo}}_i_ud" src="{{ item.src }}" alt="">
					</div>
				</div>
				<div id="{{i}}_{{tipo}}_i_l" class="pieza_l">
					<div href="#" class="pieza_l_i">
						<div id="slider_{{ i }}_{{tipo}}_II" class="swipe-container" data-deep="3" attr.data-ix="{{i}}">
							<div class="swipe-slide I_i_{{ tipo }}_{{ item.name }}"></div>
							<div class="swipe-slide I_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_roja.png">
							</div>
							<div class="swipe-slide I_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_azul.png">
							</div>
							<div class="swipe-slide I_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/corona_roja.png">
							</div>
							<div class="swipe-slide I_i_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/corona_azul.png">
							</div>

							<!-- Next and previous buttons -->
							<a class="prev-slide" (click)="plusSlides(-1, 'I_i_' + tipo + '_' + item.name, 3, i)">&#10094;</a>
							<a class="next-slide" (click)="plusSlides(1, 'I_i_' + tipo + '_' + item.name, 3, i)">&#10095;</a>
						</div>
					</div>
					<div href="#" class="pieza_l_s">
						<div id="slider_{{ i }}_{{tipo}}_II" class="swipe-container" data-deep="2" attr.data-ix="{{i}}">
							<div class="swipe-slide I_s_{{ tipo }}_{{ item.name }}"></div>
							<div class="swipe-slide I_s_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_roja.png">
							</div>
							<div class="swipe-slide I_s_{{ tipo }}_{{ item.name }}">
								<img src="./assets/img/odontograma/x_s_azul.png">
							</div>

							<!-- Next and previous buttons -->
							<a class="prev-slide" (click)="plusSlides(-1, 'I_s_' + tipo + '_' + item.name, 2, i)">&#10094;</a>
							<a class="next-slide" (click)="plusSlides(1, 'I_s_' + tipo + '_' + item.name, 2, i)">&#10095;</a>
						</div>
					</div>
				</div>
				<div class="iconos">
					<div class="container-icon">
						<div>Rx</div>
						<div>
							<mat-icon>photo_camera</mat-icon>
						</div>
						<div>T</div>
					</div>
				</div>
			</div>
			<div class="og_addde1 hidden "></div>
			<div class="og_addde2 hidden "></div>
		</div>
	</div>
</div>