.canvas-boca {
  /* Estilos para el fondo (encias) */
  height: 70vh;
  width: 100%;
  background-color: #f0c6c6;
  position: relative;
  display: block;
  transition: all 1s ease;
}

.boca {
  /* Estilos para interior de la boca */
  position: relative;
  min-width: 600px;
  background-color: #fff;
  height: 60%;
  padding: 0;
  top: 20%;
  transition: all 1s ease;
}

.boca .superior,
.boca .inferior {
  /* Estilos generales para las arcadas*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 0.7rem;
  position: absolute;
  padding: 0;
  height: 80%;
  width: 100%;
  transition: all 1s ease;
}

.boca .superior {
  top: -30%;
}

.boca .inferior {
  bottom: -30%;
}

.boca .superior .og_p,
.boca .inferior .og_p {
  /*width: calc(100% / 17);*/
  flex: 1 1;
  height: 100%;
  transition: all 1s ease;
}

.boca .superior .og_p .pieza_m,
.boca .inferior .og_p .pieza_m {
  position: relative;
  height: 60%;
  z-index: 0;
}

.boca .inferior .og_p .pieza_m {
  top: 15%;
  bottom: 0;
}

.boca .superior .og_p .pieza_m .ud,
.boca .inferior .og_p .pieza_m .ud {
  position: relative;
  height: 80%;
  width: 100%;
}

.boca .superior .og_p .pieza_m .ud img,
.boca .inferior .og_p .pieza_m .ud img {
  position: absolute;
  margin-left: 0.5em;
  width: 85%;
}

.boca .superior .og_p .pieza_m .ud img {
  top: -5%;
}

.boca .inferior .og_p .pieza_m .ud {
  top: -10%;
}

.boca .inferior .og_p .pieza_m .ud img {
  top: 0;
}

.boca .superior .og_p .pieza_m .ud img.pos1 {
  top: -15%;
}

.boca .inferior .og_p .pieza_m .ud img.pos1 {
  top: 5%;
}

.boca .superior .og_p .pieza_m .ud img.pos2 {
  top: -25%;
}

.boca .inferior .og_p .pieza_m .ud img.pos2 {
  top: 20%;
}

.boca .superior .og_p .pieza_m .box_ud,
.boca .inferior .og_p .pieza_m .box_ud {
  height: 40%;
  position: relative;
}

/* .boca .superior .og_p .pieza_m .box_ud {
  top: 25%;
}

.boca .inferior .og_p .pieza_m .box_ud {
  top: -10%;
} */

.boca .superior .og_p .pieza_m .box_ud .center_move,
.boca .inferior .og_p .pieza_m .box_ud .center_move {
  height: 20%;
  width: 40%;
  margin: auto;
  padding-bottom: 1em;
  position: relative;
  cursor: move;
}

.boca .superior .og_p .pieza_m .box_ud .center_move .circle,
.boca .inferior .og_p .pieza_m .box_ud .center_move .circle {
  top: 0%;
  width: 15%;
  height: 3.5px;
  margin: auto;
  background-color: #777;
  border: 1px solid #777;
  border-radius: 50%;
  display: inline-block;
}

.boca .superior .og_p .pieza_m .box_ud .center_move {
  top: -10%;
}

.boca .superior .og_p .pieza_m .box_ud .mat-form-field {
  top: 20%;
}

.mat-form-field {
  position: relative;
  padding-left: 1rem;
  width: 100% !important;
  z-index: 0;
}

.mat-input-wrapper,
.mat-form-field-wrapper {
  padding: 0 !important;
}

.boca .superior .og_p .pieza_l,
.boca .inferior .og_p .pieza_l {
  position: relative;
  width: 100%;
  /*width: calc(100% / 17);*/
  height: 45%;
  z-index: 1;
}

.boca .superior .og_p .pieza_l {
  top: -55%;
}

.boca .inferior .og_p .pieza_l {
  top: -25%;
}

.boca .superior .og_p .pieza_l .pieza_l_i,
.boca .inferior .og_p .pieza_l .pieza_l_i,
.boca .superior .og_p .pieza_l .pieza_l_s,
.boca .inferior .og_p .pieza_l .pieza_l_s {
  width: 100%;
}

/* .boca .superior .og_p .pieza_l .pieza_l_i,
.boca .inferior .og_p .pieza_l .pieza_l_i,
.boca .superior .og_p .pieza_l .pieza_l_s,
.boca .inferior .og_p .pieza_l .pieza_l_s {
  display: block;
  border: 1px rgba(100, 100, 100, 0.5) solid;
} */

/* .boca .superior .og_p .pieza_l .pieza_l_cr,
.boca .inferior .og_p .pieza_l .pieza_l_cr {
  height: 15%;
} */

.boca .superior .og_p .pieza_l .pieza_l_i,
.boca .inferior .og_p .pieza_l .pieza_l_i {
  height: 25%;
}

.boca .superior .og_p .pieza_l .pieza_l_s,
.boca .inferior .og_p .pieza_l .pieza_l_s {
  height: 75%;
}

/* .boca .superior .og_p .pieza_l .pieza_l_cr .center_move,
.boca .inferior .og_p .pieza_l .pieza_l_cr .center_move {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

.boca .superior .og_p .pieza_l .pieza_l_cr .center_move .circle,
.boca .inferior .og_p .pieza_l .pieza_l_cr .center_move .circle {
  height: 100%;
  width: 50%;
  margin: auto auto 2px;
  border-radius: 20%;
  font-size: 1em;
  text-align: center;
  line-height: 1em !important;
}

.boca .superior .og_p .pieza_l .pieza_l_cr .center_move .circle mat-icon,
.boca .inferior .og_p .pieza_l .pieza_l_cr .center_move .circle mat-icon {
  font-size: 1em;
}

.boca .superior .og_p .pieza_l .pieza_l_cr .center_move {
  top: -210%;
}

.boca .inferior .og_p .pieza_l .pieza_l_cr .center_move {
  top: -10%;
} */

.boca .superior .og_p .pieza_l.pos1 {
  top: -60%;
}
.boca .inferior .og_p .pieza_l.pos1 {
  top: -22%;
}
.boca .superior .og_p .pieza_l.pos2 {
  top: -65%;
}
.boca .inferior .og_p .pieza_l.pos2 {
  top: -17%;
}

.swipe-container {
  position: relative;
  padding: 0;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.swipe-slide {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
}

.swipe-slide img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Next & previous buttons */

.prev-slide,
.next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -12px;
  padding-left: 2px;
  padding-right: 2px;
  color: #777;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev-slide:hover,
.next-slide:hover {
  background: #bbb;
}

/* Position the "next button" to the right */

.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.boca .superior .og_p .og_cruz,
.boca .inferior .og_p .og_cruz {
  position: relative;
  margin: auto;
  left: auto;
  right: auto;
  width: 50%;
  height: 10%;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer;
}

.boca .superior .og_p .og_cruz {
  top: -30%;
}

.boca .inferior .og_p .og_cruz {
  top: 10%;
}

.boca .superior .og_p .og_cruz .up,
.boca .inferior .og_p .og_cruz .up {
  position: absolute;
  top: 0px;
  left: 30%;
  right: 30%;
  height: 30%;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  z-index: 1;
}

.boca .superior .og_p .og_cruz .down,
.boca .inferior .og_p .og_cruz .down {
  position: absolute;
  bottom: 0px;
  left: 30%;
  right: 30%;
  height: 30%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  z-index: 1;
}

.boca .superior .og_p .og_cruz .left,
.boca .inferior .og_p .og_cruz .left {
  position: absolute;
  left: 0px;
  top: 30%;
  bottom: 30%;
  width: 30%;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  z-index: 1;
}

.boca .superior .og_p .og_cruz .right,
.boca .inferior .og_p .og_cruz .right {
  position: absolute;
  right: 0px;
  top: 30%;
  bottom: 30%;
  width: 30%;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  z-index: 1;
}

.boca .superior .og_p .og_cruz .center,
.boca .inferior .og_p .og_cruz .center {
  position: absolute;
  right: 30%;
  left: 30%;
  top: 30%;
  bottom: 30%;
  border: 1px solid gray;
  z-index: 1;
}

.boca .superior .og_p .og_name,
.boca .inferior .og_p .og_name {
  position: relative;
  margin: auto;
  left: auto;
  right: auto;
  height: 5%;
  opacity: 0.5;
  z-index: 0;
}

.boca .superior .og_p .og_name h3,
.boca .inferior .og_p .og_name h3 {
  cursor: pointer;
  font-size: 1.3em;
}

.boca .superior .og_p .og_name {
  top: -25%;
}

.boca .superior .og_p .iconos,
.boca .inferior .og_p .iconos {
  margin: auto;
  position: absolute;
  z-index: 10;
  height: 10%;
  width: 4.5em;
}

.boca .superior .og_p .iconos .container-icon,
.boca .inferior .og_p .iconos .container-icon {
  position: absolute;
  width: 100%;
}

.boca .superior .og_p .iconos .container-icon div,
.boca .inferior .og_p .iconos .container-icon div {
  height: 100%;
  width: 27%;
  border-radius: 20%;
  font-size: 1em;
  text-align: center;
  line-height: 1em !important;
  display: inline-block;
  vertical-align: middle;
}

.boca .superior .og_p .iconos .container-icon div mat-icon,
.boca .inferior .og_p .iconos .container-icon div mat-icon {
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.boca .inferior .og_p .iconos {
  top: 95%;
}

@media (max-width: 1199px) {
  .boca .superior .og_p .pieza_m .ud img {
    width: 75%;
  }
}

@media (max-width: 937px) {
  .boca .superior .og_p .pieza_m .box_ud .center_move,
  .boca .inferior .og_p .pieza_m .box_ud .center_move {
    width: 100%;
  }
}

@media (max-width: 901px) {
  .canvas-boca {
    height: 60vh;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move,
  .boca .inferior .og_p .pieza_m .box_ud .center_move {
    width: 80%;
    margin: auto;
    padding-bottom: 4%;
  }

  .boca .superior .og_p .pieza_m .box_ud .mat-form-field {
    top: 5%;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 7%;
  }

  .boca .inferior .og_p .iconos .container-icon div {
    font-size: 0.8em;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: -4%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -14%;
  }
}

@media (max-width: 1500px) {
  .boca .superior .og_p .iconos .container-icon div,
  .boca .inferior .og_p .iconos .container-icon div {
    font-size: 0.8em;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 15%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: 5%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -5%;
  }
}

@media (max-width: 1400px) {
  .boca .superior .og_p .iconos .container-icon div,
  .boca .inferior .og_p .iconos .container-icon div {
    width: 22%;
  }
}

@media (min-width: 1281px) and (max-width: 1300px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 1%;
  }
}

@media (min-width: 1151px) and (max-width: 1280px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 0;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: -7%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -17%;
  }
}

@media (min-width: 1071px) and (max-width: 1150px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 1%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: -4%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -17%;
  }
}

@media (min-width: 1031px) and (max-width: 1070px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 5%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: -4%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -17%;
  }
}

@media (min-width: 799px) and (max-width: 1030px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 12%;
  }

  .boca .inferior .og_p .pieza_m .ud {
    top: -5%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: 5%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -5%;
  }

  .boca .inferior .og_p .pieza_m .ud img.pos2 {
    top: 15%;
  }
}

@media (max-width: 810px) {
  .boca .inferior .og_p .iconos .container-icon div {
    width: 17%;
  }
}

@media (min-width: 701px) and (max-width: 798px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 33%;
  }

  .boca .inferior .og_p .pieza_m .ud {
    top: -5%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: 23%;
  }

  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: 13%;
  }

  .boca .inferior .og_p .pieza_m .ud img.pos2 {
    top: 15%;
  }

  .boca .inferior .og_p .pieza_l {
    top: -24%;
  }
}

@media (max-width: 700px) {
  .boca .superior .og_p .pieza_m .ud img {
    top: 40%;
  }
}

@media (max-height: 700px) {
  .canvas-boca {
    height: 80vh;
  }

  .boca .inferior .og_p .pieza_m {
    top: 15%;
  }

  .boca .superior .og_p .pieza_l,
  .boca .inferior .og_p .pieza_l {
    height: 45%;
  }
  .boca .superior .og_p .pieza_m .mat-form-field {
    top: 5%;
  }
  .boca .inferior .og_p .pieza_m .mat-form-field {
    top: -10%;
  }
  .boca .superior .og_p .pieza_m .ud img {
    top: 0;
  }
  .boca .inferior .og_p .pieza_m .ud {
    top: -5%;
  }
  .boca .inferior .og_p .pieza_m .ud img {
    top: 0;
  }
  .boca .superior .og_p .pieza_m .ud img.pos1 {
    top: -8.5%;
  }
  .boca .inferior .og_p .pieza_m .ud img.pos1 {
    top: 10%;
  }
  .boca .superior .og_p .pieza_m .ud img.pos2 {
    top: -19%;
  }
  .boca .inferior .og_p .pieza_m .ud img.pos2 {
    top: 20%;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move,
  .boca .inferior .og_p .pieza_m .box_ud .center_move {
    width: 40%;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move .circle,
  .boca .inferior .og_p .pieza_m .box_ud .center_move .circle {
    width: 5%;
    margin-left: 0.5px;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move {
    top: -35%;
  }

  .boca .superior .og_p .pieza_l,
  .boca .inferior .og_p .pieza_l {
    height: 35%;
  }

  .boca .superior .og_p .pieza_l {
    top: -50%;
  }
  .boca .inferior .og_p .pieza_l {
    top: -20%;
  }

  .boca .superior .og_p .pieza_l.pos1 {
    top: -55%;
  }
  .boca .superior .og_p .pieza_l.pos2 {
    top: -60%;
  }

  .boca .inferior .og_p .pieza_l.pos1 {
    top: -15%;
  }
  .boca .inferior .og_p .pieza_l.pos2 {
    top: -10%;
  }

  .boca .superior .og_p .og_cruz {
    top: -20%;
  }

  .boca .inferior .og_p .og_cruz {
    top: 10%;
  }

  .prev-slide,
  .next-slide {
    display: none;
  }

  .boca .superior .og_p .og_name {
    top: -15%;
  }

  .boca .superior .og_p .og_name h3,
  .boca .inferior .og_p .og_name h3 {
    font-size: 1em;
  }
}

@media (max-height: 500px) {
  .canvas-boca {
    height: 100vh;
  }
  .boca {
    min-width: 500px;
    height: 60%;
  }

  .boca .superior,
  .boca .inferior {
    margin: 0;
  }

  .swipe-slide {
    font-size: 8px;
  }

  .boca .superior .og_p .pieza_m .ud img {
    top: 10%;
  }

  .boca .superior .og_p .pieza_l,
  .boca .inferior .og_p .pieza_l {
    /*width: calc(100% / 17);*/
    height: 28%;
  }

  .boca .superior .og_p .pieza_l {
    top: -43%;
  }

  .boca .inferior .og_p .pieza_l {
    top: -17%;
  }

  .boca .inferior .og_p .pieza_m .mat-form-field {
    margin-bottom: 0;
    padding-bottom: 0;
    top: -2px;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move,
  .boca .inferior .og_p .pieza_m .box_ud .center_move {
    width: 50%;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move .circle,
  .boca .inferior .og_p .pieza_m .box_ud .center_move .circle {
    width: 5%;
    height: 2px;
    position: relative;
  }

  .boca .superior .og_p .pieza_m .box_ud .center_move .circle {
    top: -4px;
  }

  .boca .inferior .og_p .pieza_m .box_ud .center_move .circle {
    top: -20px;
  }

  .boca .superior .og_p .og_name h3,
  .boca .inferior .og_p .og_name h3 {
    font-size: 0.7em;
  }

  .boca .superior .og_p .og_name {
    top: -10%;
  }

  .boca .superior .og_p .pieza_l .pieza_l_cr .center_move,
  .boca .inferior .og_p .pieza_l .pieza_l_cr .center_move {
    width: 100%;
  }

  .boca .superior .og_p .pieza_l .pieza_l_cr .center_move {
    top: -20px;
  }

  .boca .inferior .og_p .pieza_l .pieza_l_cr .center_move {
    top: 5px;
  }

  .boca .superior .og_p .pieza_l .pieza_l_cr .center_move .circle,
  .boca .inferior .og_p .pieza_l .pieza_l_cr .center_move .circle {
    height: 120%;
    font-size: 0.4em;
    line-height: 0.4em !important;
  }

  .boca .superior .og_p .pieza_l .pieza_l_cr .center_move .circle mat-icon,
  .boca .inferior .og_p .pieza_l .pieza_l_cr .center_move .circle mat-icon {
    text-align: center;
    font-size: 0.7em;
    line-height: 0.7em !important;
    margin-left: -5px;
  }

  /* .boca .superior .og_p .pieza_l.pos1 {
    top: -47%;
  }
  .boca .inferior .og_p .pieza_l.pos1 {
    top: -12%;
  }
  .boca .superior .og_p .pieza_l.pos2 {
    top: -57%;
  }
  .boca .inferior .og_p .pieza_l.pos2 {
    top: -7%;
  } */

  .boca .superior .og_p .og_cruz {
    top: -15%;
  }

  .boca .inferior .og_p .og_cruz {
    top: 10%;
  }

  .swipe-slide {
    font-size: 0.4em;
    line-height: 0.5em;
  }
}
